/*FIX TRANSLATE*/
/*TRANSITION TIMES*/
/*MEDIA QUERIES*/
/*COLORS*/
/*FONT*/
/*PHONE SIZES*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem; }

h1, h3, p, li, a, input {
  font-family: "Nunito Sans", "Helvetica", sans-serif; }

h1, h3, p, ul {
  margin: 0;
  padding: 0; }

h1 {
  font-weight: 800; }

h3 {
  font-weight: 600; }

h1 > span, h3 > span, a > span {
  color: #FF1744; }

ul {
  list-style-type: none; }

img {
  width: 100%;
  height: auto; }

.intro, #portfolio, #about, #skills, #contact, .cs-container {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.5rem; }
  @media (min-width: 720px) {
    .intro, #portfolio, #about, #skills, #contact, .cs-container {
      padding: 0 4rem; } }

@media (min-width: 1010px) {
  #portfolio, #about, #skills, #contact, .cs-container {
    padding: 0 20rem 0 20rem; } }

@media (min-width: 1240px) {
  #portfolio, #about, #skills, #contact, .cs-container {
    padding: 0 25rem 0 25rem; } }

@media (min-width: 1420px) {
  #portfolio, #about, #skills, #contact, .cs-container {
    padding: 0 30rem 0 30rem; } }

.cs-hero {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative; }
  @media (min-width: 720px) {
    .cs-hero {
      height: 70vh; } }
  @media (min-width: 1010px) {
    .cs-hero {
      height: 85vh; } }

.intro-pics {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
  padding: 0 4rem;
  position: absolute;
  top: 50%;
  text-align: center; }
  @media (min-width: 1010px) {
    .intro-pics {
      width: auto;
      padding: 0;
      display: inline-block;
      right: 6vw; } }
  @media (min-width: 1240px) {
    .intro-pics {
      right: 8vw; } }
  @media (min-width: 1420px) {
    .intro-pics {
      right: 10vw; } }

.cs-heading {
  font-weight: 800;
  font-size: 2.4rem;
  margin-bottom: 3rem; }
  @media (min-width: 1010px) {
    .cs-heading {
      font-size: 3.6rem; } }

.cs-title {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: none;
  position: absolute;
  top: 50%;
  left: 6vw; }
  @media (min-width: 1010px) {
    .cs-title {
      display: block;
      font-size: 5rem; } }
  @media (min-width: 1240px) {
    .cs-title {
      left: 8vw;
      font-size: 6.4rem; } }
  @media (min-width: 1420px) {
    .cs-title {
      left: 10vw;
      font-size: 7.2rem; } }

.cs-container {
  overflow: hidden;
  position: relative; }
  .cs-container .cs-back {
    position: absolute;
    top: 2.2rem;
    right: 2.5rem; }
    @media (min-width: 720px) {
      .cs-container .cs-back {
        top: 6.5rem;
        right: 4rem; } }

.mobile-title {
  padding: 5rem 0 0;
  font-size: 3.6rem; }
  @media (min-width: 1010px) {
    .mobile-title {
      display: none; } }

.cs-fw {
  margin-top: 15rem; }
  .cs-fw:first-of-type {
    margin-top: 5rem; }
  @media (min-width: 720px) {
    .cs-fw {
      margin-top: 30rem; }
      .cs-fw:first-of-type {
        margin-top: 8rem; } }
  .cs-fw p a {
    color: black; }
    .cs-fw p a:visited {
      color: black; }

.cs-image {
  margin-top: 15rem; }
  @media (min-width: 720px) {
    .cs-image {
      margin-top: 30rem; } }

.more-projects {
  margin-top: 15rem;
  margin-bottom: 15rem; }
  .more-projects:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 720px) {
    .more-projects {
      margin-top: 30rem;
      margin-bottom: 20rem; } }
  .more-projects .card:last-of-type {
    margin-top: 8rem; }
  @media (min-width: 600px) {
    .more-projects .card:first-of-type {
      float: left; }
    .more-projects .card:last-of-type {
      margin-top: 0;
      float: right; } }

.intro {
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 460px;
  position: relative; }
  @media (min-width: 720px) {
    .intro {
      min-height: 700px; } }
  .intro img {
    width: 1rem;
    margin-top: 2.5rem; }
    @media (min-width: 720px) {
      .intro img {
        width: 1.4rem;
        margin-top: 4rem; } }
  .intro .hamburger {
    position: fixed;
    top: 3.3rem;
    right: 2.5rem; }
    @media (min-width: 720px) {
      .intro .hamburger {
        top: 5.7rem;
        right: 4rem; } }
    @media (min-width: 1010px) {
      .intro .hamburger {
        display: none; } }
  .intro h3, .intro a {
    color: #A0A0A0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .2rem; }
    @media (min-width: 720px) {
      .intro h3, .intro a {
        font-size: 1.4rem; } }
  .intro h1 {
    text-transform: uppercase;
    font-size: 5vw; }
    @media (min-width: 1010px) {
      .intro h1 {
        font-size: 4.8rem; } }
    @media (min-width: 1240px) {
      .intro h1 {
        font-size: 5.4rem; } }
  .intro .intro-text {
    -webkit-transform: translate(0, -45%);
    -ms-transform: translate(0, -45%);
    transform: translate(0, -45%);
    position: absolute;
    top: 45%;
    white-space: nowrap; }
    @media (min-width: 1010px) {
      .intro .intro-text {
        -webkit-transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%);
        top: 40%;
        left: 50%; } }
    .intro .intro-text h3 {
      margin: 3rem 0; }
  .intro .intro-link {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    position: absolute;
    left: 50%;
    bottom: 5rem; }
    @media (min-width: 720px) {
      .intro .intro-link {
        bottom: 8rem; } }
    .intro .intro-link a {
      text-decoration: none; }
    .intro .intro-link .arrow {
      margin-top: 0.2rem; }
  .intro .line {
    position: absolute;
    left: 50%;
    bottom: 0; }

#portfolio {
  padding-top: 15rem;
  padding-bottom: 15rem;
  margin-left: auto;
  margin-right: auto; }
  #portfolio:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 720px) {
    #portfolio {
      padding-top: 30rem;
      padding-bottom: 0; } }
  #portfolio .card:nth-of-type(n+2) {
    margin-top: 8rem; }
  @media (min-width: 600px) {
    #portfolio .card:nth-of-type(n+2) {
      margin-top: 9rem; }
    #portfolio .card:nth-of-type(2n) {
      float: right; }
    #portfolio .card:nth-of-type(2n+1) {
      float: left; } }

#about {
  padding-bottom: 15rem; }
  #about:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 720px) {
    #about {
      padding-top: 30rem;
      padding-bottom: 0; } }
  @media (min-width: 720px) {
    #about .about-text {
      width: 45%;
      float: right; } }
  @media (min-width: 1010px) {
    #about .about-text {
      max-width: 32rem; } }
  @media (min-width: 1240px) {
    #about .about-text {
      max-width: 34rem; } }
  #about .about-text h1 {
    font-size: 3.6rem; }
    @media (min-width: 1010px) {
      #about .about-text h1 {
        font-size: 4.8rem; } }
  #about .about-text p {
    margin-top: 3rem; }
    @media (min-width: 720px) {
      #about .about-text p {
        font-size: 1.6rem; } }
  #about img {
    margin-top: 5rem;
    display: block; }
    @media (min-width: 720px) {
      #about img {
        width: 45%;
        margin-top: 0;
        float: left; } }
    @media (min-width: 1010px) {
      #about img {
        max-width: 31rem; } }
    @media (min-width: 1240px) {
      #about img {
        max-width: 33rem; } }

#skills {
  padding-bottom: 15rem; }
  @media (min-width: 720px) {
    #skills {
      padding-top: 30rem;
      padding-bottom: 0; } }
  #skills h1 {
    font-size: 3.6rem; }
    @media (min-width: 1010px) {
      #skills h1 {
        font-size: 4.8rem; } }
  @media (min-width: 720px) {
    #skills .skills-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  #skills .skills-container .skills-list {
    margin-top: 5rem; }
    #skills .skills-container .skills-list h3 {
      font-size: 1.8rem;
      font-weight: 800; }
    #skills .skills-container .skills-list ul {
      margin-top: 1.5rem; }

#contact {
  padding-bottom: 15rem; }
  @media (min-width: 720px) {
    #contact {
      padding-top: 30rem;
      padding-bottom: 20rem; } }
  @media (min-width: 1010px) {
    #contact {
      padding-bottom: 15rem; } }
  #contact h1 {
    font-size: 3.6rem; }
    @media (min-width: 1010px) {
      #contact h1 {
        font-size: 4.8rem; } }
  #contact p {
    margin-top: 1.5rem; }
    @media (min-width: 1010px) {
      #contact p {
        font-size: 1.8rem; } }
  #contact form {
    margin-top: 6rem; }
  #contact .fin {
    margin-top: 10rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 1010px) {
      #contact .fin {
        width: 35rem;
        margin-left: auto;
        margin-right: auto; } }
    #contact .fin a {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      text-decoration: none;
      color: black;
      letter-spacing: 0.2rem;
      font-size: 1.2rem; }
      #contact .fin a:nth-of-type(1) {
        margin-right: auto; }
      #contact .fin a:nth-of-type(2) {
        margin-right: 0; }
      #contact .fin a:nth-of-type(3) {
        margin-left: 0.2rem; }
      #contact .fin a:nth-of-type(4) {
        margin-left: auto; }
      #contact .fin a:hover {
        color: #FF1744; }
      #contact .fin a img {
        width: auto;
        height: 4rem; }

.hamburger {
  display: inline-block;
  cursor: pointer; }
  .hamburger :nth-child(2) {
    margin: 0.5rem 0; }
  .hamburger span {
    width: 2rem;
    height: 0.1rem;
    display: block;
    background: black; }

.mobile-nav {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: white;
  z-index: 4; }
  .mobile-nav .mobile-links {
    width: 100%;
    height: 100%;
    position: relative; }
    .mobile-nav .mobile-links .mobile-list {
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      position: absolute;
      top: 50%;
      left: 0;
      opacity: 0; }
      .mobile-nav .mobile-links .mobile-list li:not(:first-of-type) {
        margin-top: 4rem; }
      .mobile-nav .mobile-links .mobile-list li .m-link {
        font-size: 3rem;
        font-weight: 800;
        color: black;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0; }
        @media (min-width: 720px) {
          .mobile-nav .mobile-links .mobile-list li .m-link {
            font-size: 3.8rem; } }
    .mobile-nav .mobile-links .list-slide {
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      left: 10%;
      opacity: 1; }

.opened {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1; }

.arrow {
  margin: 0 auto;
  display: block;
  width: 1rem;
  height: 1rem;
  border-top: 1px solid #A0A0A0;
  border-right: 1px solid #A0A0A0;
  border-width: 1px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.line {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 3rem;
  -webkit-animation: grow 2s;
  animation: grow 2s;
  border-left: 1px solid #A0A0A0;
  display: inline-block; }

@-webkit-keyframes grow {
  0% {
    height: 0; }
  100% {
    height: 3rem; } }

@keyframes grow {
  0% {
    height: 0; }
  100% {
    height: 3rem; } }
  @media (min-width: 720px) {
    .line {
      height: 4.5rem; }
    @-webkit-keyframes grow {
      0% {
        height: 0; }
      100% {
        height: 4.5rem; } }
    @keyframes grow {
      0% {
        height: 0; }
      100% {
        height: 4.5rem; } } }

.extend {
  height: 4rem; }
  @media (min-width: 720px) {
    .extend {
      height: 6.5rem; } }

.sidebar, .cs-sidebar {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none; }
  @media (min-width: 1010px) {
    .sidebar, .cs-sidebar {
      width: 100vh;
      height: 5rem;
      position: fixed;
      top: 100%;
      left: -5rem;
      display: block;
      visibility: hidden;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
      .sidebar a, .cs-sidebar a {
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 25%;
        height: 100%;
        display: inline-block;
        color: #A0A0A0;
        font-size: 1.2rem;
        text-align: center;
        line-height: 5rem;
        letter-spacing: 0.2rem;
        text-decoration: none; }
        .sidebar a:hover, .cs-sidebar a:hover {
          background: #F0F0F0; } }

.cs-sidebar a {
  width: 100%; }

.link-active {
  background: #F0F0F0; }

.sidebar-active {
  left: 0;
  z-index: 4;
  visibility: visible; }

.card {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .card:hover {
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1); }
  @media (min-width: 600px) {
    .card {
      width: 45%; } }
  @media (min-width: 1010px) {
    .card {
      max-width: 32rem; } }
  @media (min-width: 1240px) {
    .card {
      max-width: 34rem; } }
  .card a {
    display: block;
    color: black;
    text-decoration: none; }
    .card a:after {
      content: "";
      display: table;
      clear: both; }
    .card a img {
      display: block; }
    .card a .portfolio-caption {
      margin: 1.6rem 0; }
      .card a .portfolio-caption h1, .card a .portfolio-caption h3, .card a .portfolio-caption p {
        margin-left: 1.2rem; }
      .card a .portfolio-caption h1 {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.2rem; }
      .card a .portfolio-caption h3 {
        margin-top: 1rem;
        color: #A0A0A0;
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem; }
      .card a .portfolio-caption p {
        @transitionFX (.6s);
        color: #FF1744;
        display: none;
        font-size: 1.2rem;
        letter-spacing: 0.2rem; }
        @media (min-width: 1010px) {
          .card a .portfolio-caption p {
            display: block;
            visibility: hidden;
            opacity: 0;
            margin-top: 9rem;
            margin-bottom: 1rem; } }
      .card a .portfolio-caption .hovered {
        -webkit-transition: opacity 0.6s ease;
        -o-transition: opacity 0.6s ease;
        transition: opacity 0.6s ease; }
        @media (min-width: 1010px) {
          .card a .portfolio-caption .hovered {
            visibility: visible;
            opacity: 1; } }

form .input-line {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  height: 3.5rem;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 1.6rem;
  border-bottom: 1px solid black; }
  form .input-line:nth-of-type(2) {
    margin: 3rem 0; }
  @media (min-width: 1010px) {
    form .input-line {
      display: inline-block; }
      form .input-line:nth-of-type(1) {
        width: 45%; }
      form .input-line:nth-of-type(2) {
        width: 45%;
        margin: 0;
        float: right; }
      form .input-line:nth-of-type(3) {
        margin-top: 4rem; } }

form .submit-btn {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  height: 4rem;
  margin-top: 5rem;
  border: 1px solid black;
  border-radius: 0;
  background: transparent;
  font-size: 1.4rem;
  cursor: pointer; }
  form .submit-btn:hover {
    background: black;
    color: white; }
  @media (min-width: 1010px) {
    form .submit-btn {
      width: 25rem;
      margin-top: 7rem; } }

.cross {
  width: 2rem;
  height: 2.2rem;
  position: fixed;
  top: 3rem;
  right: 2.4rem; }
  .cross:before, .cross:after {
    position: absolute;
    left: 0.8rem;
    content: ' ';
    height: 2rem;
    width: 0.1rem;
    background-color: black; }
  .cross:before {
    transform: rotate(45deg); }
  .cross:after {
    transform: rotate(-45deg); }
  @media (min-width: 720px) {
    .cross {
      top: 5.7rem;
      right: 4rem; } }

.cs-back {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  opacity: 0; }
  @media (min-width: 1010px) {
    .cs-back {
      display: none; } }
  .cs-back a {
    color: black;
    font-weight: 300;
    text-decoration: none; }

.visible {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1; }

/*CASE STUDIES*/
.snapchat {
  background: #FFFF00; }
  .snapchat .intro-pics {
    padding: 0; }
  .snapchat img {
    width: 28vw;
    max-width: 15rem;
    margin: 0 3vw;
    display: inline-block; }
    @media (min-width: 720px) {
      .snapchat img {
        width: 100%;
        max-width: 22rem;
        margin: 0 4vw; } }
    @media (min-width: 1010px) {
      .snapchat img {
        max-width: 24rem; } }

.snap-filter {
  margin-top: 15rem;
  text-align: center; }
  @media (min-width: 720px) {
    .snap-filter {
      margin-top: 30rem; } }
  @media (min-width: 1010px) {
    .snap-filter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; } }
  .snap-filter img {
    max-width: 25rem;
    margin-bottom: 3rem; }
    @media (min-width: 720px) {
      .snap-filter img {
        max-width: 35rem;
        margin-bottom: 5rem; } }
    @media (min-width: 1010px) {
      .snap-filter img {
        width: 45%;
        max-width: 100%;
        margin-left: 5%;
        margin-bottom: 0; } }
  @media (min-width: 1010px) {
    .snap-filter .snap-desc {
      width: 45%;
      margin-right: 5%; } }
  .snap-filter .snap-desc p {
    text-align: left; }
  .snap-filter .snap-desc .snap-stats {
    margin-top: 3rem;
    text-align: left; }
    .snap-filter .snap-desc .snap-stats ul {
      display: inline-block; }
      .snap-filter .snap-desc .snap-stats ul:nth-of-type(2) {
        margin-left: 7rem; }
    .snap-filter .snap-desc .snap-stats li:not(:first-of-type) {
      margin-top: 2rem; }
    .snap-filter .snap-desc .snap-stats .stat-titles li {
      font-weight: 800; }

.montoya {
  background: #F5AF2D; }
  .montoya .cs-title {
    width: 32vw;
    color: white; }
  .montoya .intro-pics {
    padding: 0 4rem;
    display: inline-block; }
    @media (min-width: 1010px) {
      .montoya .intro-pics {
        padding: 0; } }
    @media (min-width: 1010px) {
      .montoya .intro-pics img {
        width: 55vw; } }

.elbuen {
  background: #EC8A32; }
  .elbuen .cs-title {
    color: white; }
  .elbuen .intro-pics {
    padding: 0 4rem;
    display: inline-block; }
    @media (min-width: 1010px) {
      .elbuen .intro-pics {
        padding: 0; } }
    @media (min-width: 1240px) {
      .elbuen .intro-pics img {
        max-width: 110rem; } }

.drinks {
  background: #003777; }
  .drinks .cs-title {
    color: white; }
    @media (min-width: 1010px) {
      .drinks .cs-title {
        left: 8vw; } }
    @media (min-width: 1240px) {
      .drinks .cs-title {
        left: 9vw; } }
    @media (min-width: 1420px) {
      .drinks .cs-title {
        left: 11vw; } }
  @media (min-width: 1010px) {
    .drinks .intro-pics {
      margin-right: 7vw; } }
  .drinks .intro-pics img {
    width: 28vw;
    max-width: 15rem; }
    @media (min-width: 720px) {
      .drinks .intro-pics img {
        width: 100%;
        max-width: 22rem; } }
    @media (min-width: 1010px) {
      .drinks .intro-pics img {
        max-width: 26rem; } }

.lambdas {
  background: #78431B; }
  .lambdas .cs-title {
    color: white; }
    @media (min-width: 1240px) {
      .lambdas .cs-title {
        left: 6vw; } }
    @media (min-width: 1420px) {
      .lambdas .cs-title {
        left: 8vw; } }
  @media (min-width: 1010px) {
    .lambdas .intro-pics {
      right: 3vw; } }
  @media (min-width: 1010px) {
    .lambdas .intro-pics img {
      max-width: 60vw; } }

.cycle {
  background: #424242; }
  .cycle .cs-title {
    color: white; }
    @media (min-width: 1010px) {
      .cycle .cs-title {
        left: 8vw; } }
    @media (min-width: 1240px) {
      .cycle .cs-title {
        left: 10vw; } }
    @media (min-width: 1420px) {
      .cycle .cs-title {
        left: 12vw; } }
  @media (min-width: 1010px) {
    .cycle .intro-pics {
      right: 8vw; } }
  @media (min-width: 1240px) {
    .cycle .intro-pics {
      right: 10vw; } }
  @media (min-width: 1420px) {
    .cycle .intro-pics {
      right: 12vw; } }
  .cycle .intro-pics img {
    width: 55vw;
    max-width: 45rem; }
    @media (min-width: 1010px) {
      .cycle .intro-pics img {
        max-width: 54rem; } }
