/*COLORS*/
$red: #FF1744;
$gray: #A0A0A0;
$shadow: rgba(0,0,0,0.1);
$ltgray: #F0F0F0;
$yellow: #FFFF00;
$blue: #003777;
$montoya-orange: #F5AF2D;
$elbuen-orange: #EC8A32;
$brown: #78431B;
$off-black: #424242;
$of-blue: #51A4DB;

/*FONT*/
$nunito: 'Nunito Sans', 'Helvetica', sans-serif;

/*PHONE SIZES*/
$md-mobile: 360px;
$mid-device: 600px;
$sm-tablet: 720px;
$sm-desktop: 1010px;
$md-desktop: 1240px;
$lg-desktop: 1420px;