.sidebar, .cs-sidebar {
	@include transitionFX(.4s);
	display: none;
	@include sm-desktop {
		width: 100vh;
		height: 5rem;
		position: fixed;
		top: 100%;
		left: -5rem;
		display: block;
		visibility: hidden;
		-webkit-transform-origin: left top;
		        transform-origin: left top;
		-webkit-transform: rotate(-90deg);
		        transform: rotate(-90deg);

		a {
			@include transitionFX(.5s);
			width: 25%;
			height: 100%;
			display: inline-block;
			color: $gray;
			font-size: 1.2rem;
			text-align: center;
			line-height: 5rem;
			letter-spacing: 0.2rem;
			text-decoration: none;
			&:hover {
				background: $ltgray;
			}
		}
	}
}

.cs-sidebar a {
	width: 100%;
}

.link-active {
	background: $ltgray;
}

.sidebar-active {
	left: 0;
	visibility: visible;
}