.snapchat {
	background: $yellow;

	.intro-pics {
		padding: 0;
	}

	img {
		width: 28vw;
		max-width: 15rem;
		margin: 0 3vw;
		display: inline-block;
		@include sm-tablet {
			width: 100%;
			max-width: 22rem;
			margin: 0 4vw;
		}
		@include sm-desktop {
			max-width: 24rem;
		}
	}
}