.cs-hero {
	width: 100%;
	height: 50vh;
	overflow: hidden;
	position: relative;
	@include sm-tablet {
		height: 70vh;
	}
	@include sm-desktop {
		height: 85vh;
	}
}

.intro-pics {
	@include shift(0, -50%);
	width: 100%;
	padding: 0 4rem;
	position: absolute;
	top: 50%;
	text-align: center;
	@include sm-desktop {
		width: auto;
		padding: 0;
		display: inline-block;
		right: 6vw;
	}
	@include md-desktop {
		right: 8vw;
	}
	@include lg-desktop {
		right: 10vw;
	}
}

.cs-heading {
	font-weight: 800;
	font-size: 2.4rem;
	margin-bottom: 3rem;
	@include sm-desktop {
		font-size: 3.6rem;
	}
}

.cs-title {
	@include shift(0, -50%);
	display: none;
	position: absolute;
	top: 50%;
	left: 6vw;
	@include sm-desktop {
		display: block;
		font-size: 5rem;
	}
	@include md-desktop {
		left: 8vw;
		font-size: 6.4rem;
	}
	@include lg-desktop {
		left: 10vw;
		font-size: 7.2rem;
	}
}

.cs-container {
	overflow: hidden;
	position: relative;
	@include sm-desktop {
		padding: 0 10rem 0 10rem;
	}
	@include md-desktop {
		padding: 0 12.5rem 0 12.5rem;
	}
	@include lg-desktop {
		padding: 0 15rem 0 15rem;
	}

	.cs-back {
		position: absolute;
		top: 2.2rem;
		right: 2.5rem;
		@include sm-tablet {
			top: 6.5rem;
			right: 4rem;
		}
	}
}

.mobile-title {
	padding: 5rem 0 0;
	font-size: 3.6rem;
	@include sm-desktop {
		display: none;
	}
}

.cs-fw {
	margin-top: 15rem;
	&:first-of-type {
		margin-top: 5rem;
	}
	@include sm-tablet {
		margin-top: 30rem;
		&:first-of-type {
			margin-top: 8rem;
		}
	}
	@include sm-desktop {
		padding: 0 10rem 0 10rem;
	}
	@include md-desktop {
		padding: 0 12.5rem 0 12.5rem;
	}
	@include lg-desktop {
		padding: 0 15rem 0 15rem;
	}
	
	p {

		a {
			@include transitionFX(.2s);
			color: black;
			&:visited {
				color: black;
			}
			&:hover {
				color: $red;
			}
		}
	}
}

.cs-image {
	margin-top: 15rem;
	@include sm-tablet {
		margin-top: 30rem;
	}
}

.more-projects {
	@include clearfix;
	margin-top: 15rem;
	margin-bottom: 15rem;
	@include sm-tablet {
		margin-top: 30rem;
		margin-bottom: 20rem;
	}
	@include sm-desktop {
		padding: 0 10rem 0 10rem;
	}
	@include md-desktop {
		padding: 0 12.5rem 0 12.5rem;
	}
	@include lg-desktop {
		padding: 0 15rem 0 15rem;
	}

	.card {
		&:last-of-type {
			margin-top: 8rem;
		}
		@include mid-device {
			&:first-of-type {
				float: left;
			}
			&:last-of-type {
				margin-top: 0;
				float: right;
			}
		}
	}
}