#about {
	@include clearfix;
	padding-bottom: 15rem;
	@include sm-tablet {
		padding-top: 30rem;
		padding-bottom: 0rem;
	}

	.about-text {
		@include sm-tablet {
			width: 45%;
			float: right;
		}
		@include sm-desktop {
			max-width: 32rem;
		}
		@include md-desktop {
			max-width: 34rem;
		}

		h1 {
			@include transitionFX(0.3s);
			font-size: 3.6rem;
			opacity: 0;
			transform: translateY(10px);
			@include sm-desktop {
				font-size: 4.8rem;
			}
		}

		.slide-text {
			transform: translateY(-10px);
			opacity: 1;
		}

		p {
			@include transitionFX(0.3s);
			margin-top: 3rem;
			opacity: 0;
			@include sm-tablet {
				font-size: 1.6rem;
			}
		}

		.fade-text {
			opacity: 1;
		}
	}

	img {
		@include transitionFX(0.3s);
		margin-top: 5rem;
		display: block;
		opacity: 0;
		@include sm-tablet {
			width: 45%;
			margin-top: 0;
			float: left;
		}
		@include sm-desktop {
			max-width: 31rem;
		}
		@include md-desktop {
			max-width: 33rem;
		}
		
	}

	.fade-img {
		opacity: 1;
	}
}