.intro {
	width: 100vw;
	height: 100vh;
	min-width: 300px;
	min-height: 460px;
	position: relative;
	@include sm-tablet {
		min-height: 700px;
	}

	img {
		width: 1rem;
		margin-top: 2.5rem;
		@include sm-tablet {
			width: 1.4rem;
			margin-top: 4rem;
		}
	}

	.hamburger {
		position: fixed;
		top: 3.3rem;
		right: 2.5rem;
		@include sm-tablet {
			top: 5.7rem;
			right: 4rem;
		}
		@include sm-desktop {
			display: none;
		}
	}

	a {
		color: $gray;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: .2rem;
		@include sm-tablet {
			font-size: 1.4rem;
		}
	}

	h1 {
		font-size: 10vw;
		@include sm-tablet {
			font-size: 9vw;
		}
		@include sm-desktop {
			font-size: 7rem;
		}
		@include mobile-landscape {
			font-size: 6vw;
		}
	}

	.intro-text {
		@include shift(0, -45%);
		position: absolute;
		top: 45%;
		white-space: nowrap;
		@include sm-desktop {
			@include shift(-35%, -45%);
			top: 45%;
			left: 35%;
		}

		h1 {
			#line-break {
				@include mobile-landscape {
					display: none;
				}
				@include sm-desktop {
					display: none;
				}
			}
		}

		.fade-intro {
			opacity: 0;
			-webkit-animation: fade-in 0.7s;
			        animation: fade-in 0.7s;
			-webkit-animation-delay: 0.3s;
			        animation-delay: 0.3s;
			-webkit-animation-fill-mode: forwards;
			        animation-fill-mode: forwards;
		}
	}

	.intro-link {
		@include shift(-50%, 0);
		position: absolute;
		left: 50%;
		bottom: 5rem;
		cursor: pointer;
		@include sm-tablet {
			bottom: 8rem;
		}

		a {
			text-decoration: none;
			line-height: 1.8;
			visibility: hidden;
		}

		.arrow {
			margin-top: 0.2rem;
			cursor: pointer;
		}
	}

	.line {
		position: absolute;
		left: 50%;
		bottom: 0;
	}
}
@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
