#skills {
	padding-bottom: 15rem;
	@include sm-tablet {
		padding-top: 30rem;
		padding-bottom: 0rem;
	}

	h1 {
		@include transitionFX(0.3s);
		font-size: 3.6rem;
		opacity: 0;
		transform: translateY(10px);
		@include sm-desktop {
			font-size: 4.8rem;
		}
	}

	.skills-slide {
		opacity: 1;
		transform: translateY(-10px);
	}

	.skills-container {
		@include sm-tablet {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}

		.skills-list {
			@include transitionFX(0.3s);
			margin-top: 5rem;
			opacity: 0;
			transform: translateX(-10px);

			h3 {
				font-size: 1.8rem;
				font-weight: 800;
			}

			ul {
				margin-top: 1.5rem;
			}
		}

		.slide-from-left {
			opacity: 1;
			transform: translateX(10px);
		}
	}
}